.meal-container {
  display: flex;
  justify-content: space-around;
}

.breakfast-container {
  justify-content: space-around;
}
.breakfast-title {
  text-align: center;
  font-size: 30px;
}
.breakfast {
  display: block;
}

.lunch-title {
  font-size: 30px;
  text-align: center;
}
.lunch {
  display: block;
}
.lunch-container {
  justify-content: space-around;
}

.dinner-title {
  font-size: 30px;
  text-align: center;
}
.dinner {
  display: block;
}
.dinner-container {
  justify-content: space-around;
}
