* {
  font-family: "MinSans-Medium";
}
@font-face {
  font-family: "MinSans-Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Medium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.main {
  background: #262626;
}
form {
  padding: 35px 50px;
}

#section {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}

.container {
  margin-top: 50px;
}
