body {
  font-family: "MinSans-Medium";
}
a {
  text-decoration: none;
}
.swiper-pagination-bullet {
  background-color: #6e92fa !important;
}
.swiper-button-prev {
  /* background-color: #6e92fa !important; */
  color: #6e92fa !important;
}
.swiper-button-next {
  /* color: #6e92fa !important; */
  color: #6e92fa !important;
}
input {
  font-weight: 700;
}

#left_margin {
  margin-left: 24px;
}

#top_margin {
  margin-top: 180px;
}

#way_top_margin {
  margin-top: 50px;
}

form {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 50px 35px;
}

form * {
  color: #6e92fa;
  outline: none;
  border: none;
}

#black {
  background-color: #ccc;
  display: block;
  width: 33%;
  height: 100px;
}

::placeholder {
  color: #a5a3a3;
  font-weight: 500;
  font-size: 16px;
  font-weight: 600;
  font-family: "MinSans-Medium";
}

.slide {
  width: 100%;
}

@font-face {
  font-family: "MinSans-Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Medium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.flo {
  float: right;
}

.swiper-pagenation-bullet {
  background-color: #6e92fa !important;
}
